beautifulsoup4
cython
Django==3.2.5
django-cors-headers
django-filter
django-prometheus
djangorestframework
gunicorn
mypy
openpyxl
pandas
paramiko
python-dateutil
psycopg2-binary>=2.8,<3.0
ptvsd
python-dateutil
pyyaml
requests
tldextract
testfixtures
unittest-xml-reporting
whitenoise