beautifulsoup4
cython
Django==3.2.5
django-cors-headers
django-filter
django-prometheus
djangorestframework==3.13.1
gunicorn
mypy
openpyxl
pandas
paramiko
ptvsd
python-dateutil
pyyaml
requests
tldextract
testfixtures
unittest-xml-reporting
whitenoise